@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


/* header section */

button:hover {
    box-shadow: 0 1px 24px 0 rgb(255 255 148 / 37%);
}

#header {
    background-image: url(../images/darkmoon-backgorund.png);
    background-size: cover;
    position: relative;
    height: 850px;
    background-repeat: no-repeat;
    background-color: #18161E;
}

#header:before {
    content: "";
    background-color: #18161E;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.8;
}

#myVideo {
    width: 100%;
    object-fit: cover;
    height: 850px;
}

#header-section {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#darkmoon-wrapper {
    width: 100%;
    object-fit: cover;
}

.navbar {
    padding-top: 44px;
}

.navbar-brand {
    padding-top: 9px;
    padding-bottom: 9px;
}

.header-button {
    position: relative;
}

.header-button img {
    position: absolute;
    top: 18px;
    right: 15px;
}

.header-button button {
    color: #D2A955;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    border: 1px solid #D2A955;
    border-radius: 30.5px;
    width: 142px;
    height: 40px;
    background-color: transparent;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 74px;
}

.header-wrapper h2 {
    color: #F8F8FB;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    max-width: 707px;
    text-align: center;
    padding-bottom: 30px;
}

.header-wrapper p {
    color: #F8F8FB;
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    line-height: 39px;
    max-width: 467px;
    text-align: center;
    margin-bottom: 30px;
}

.investmentBox {
    background-color: #D2A955;
    border-radius: 8px;
    box-shadow: 0 2px 24px 0 rgba(255, 255, 148, 0.37);
    width: 680px;
    padding-top: 30px;
    padding-bottom: 43px;
    padding-left: 35px;
    padding-right: 27px;
    margin-top: 11px;
    position: absolute;
    bottom: -140px;
    z-index: 1;
}

img.dots {
    position: absolute;
    bottom: -58px;
    right: -74px;
    z-index: -1;
}

.investmentBox h4 {
    color: #FFFFFF;
    font-family: 'PT Serif', serif;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
}

.img-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
}

.img-group1 {
    width: 190px;
    margin-right: 24px;
}

.img-group2 {
    width: 190px;
    margin-right: 24px;
}

.img-group3 {
    width: 190px;
}

.box1 {
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 85px 40px 74px 40px;
    height: 218px;
    margin-bottom: 24px;
}

.box2 {
    background-color: #FFFFFF;
    border-radius: 4px;
    height: 168px;
    padding: 50px 55px;
    margin-bottom: 24px;
}

.box3 {
    background-color: #FFFFFF;
    border-radius: 4px;
    height: 110px;
    padding: 40px 40px;
    margin-bottom: 24px;
}

.box4 {
    background-color: #FFFFFF;
    border-radius: 4px;
    height: 110px;
    padding: 40px 20px;
}

.box5 {
    background-color: #161920;
    border-radius: 4px;
    height: 160px;
    padding: 50px 15px;
}

.box6 {
    background-color: #FFFFFF;
    border-radius: 4px;
    height: 218px;
    padding: 63px 45px;
}


/* section-1 */

#section-1 {
    background-color: #18161E;
    padding-top: 291px;
}

.section1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 133px;
}

.section1-wrapper h2 {
    color: #FFFFFF;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 42px;
}

.section1-wrapper p {
    color: #8D867B;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 34px;
    max-width: 750px;
    text-align: left;
}


/* Section-2 */

#section-2 {
    background-color: #18161E;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 400px;
}


/* Section-3 */

#section-3 {
    background-color: #18161E;
    padding-top: 200px;
    padding-bottom: 160px;
}

.section-3-wrapper {
    background-image: linear-gradient(139.78deg, #302D39 0%, #1D1A24 100%);
    border-radius: 15px;
    padding-top: 55px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    max-width: 1082px;
    z-index: 11;
    padding-right: 20px;
}

.imgBox {
    background-color: #18161E;
    border-radius: 15px;
    width: 145px;
    height: 187px;
    position: absolute;
    top: 59px;
    left: -74px;
}

.textBox {
    margin-left: 72px;
    padding-right: 14px;
}

.imgBox img {
    padding-top: 24px;
    margin-left: -2px;
    margin-top: 12px;
}

.contactbtn {
    margin-left: 50px;
    position: relative;
    max-width: 207px;
}

.contactbtn button {
    background-color: #EFB857;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 207px;
    letter-spacing: -0.48px;
    line-height: 24px;
    border-radius: 30.5px;
    text-align: left;
    padding-left: 29px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.focus-area-wrapper {
    flex-wrap: nowrap;
    padding-top: 90px;
}

.focus-area-wrapper .bitmap img {
    max-width: fit-content;
    width: 700px;
}

.contactbtn img {
    position: absolute;
    top: 8px;
    right: 13px;
}

.textBox h3 {
    color: #FFFFFF;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    line-height: 48px;
    max-width: 624px;
    text-align: left;
    padding-bottom: 21px;
}

.textBox p {
    color: #8D867B;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 26px;
    max-width: 543px;
    text-align: left;
}


/* Section-4 */

#section-4 {
    background-color: #18161E;
    padding-top: 40px;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
}

#section-4:before {
    content: "";
    position: absolute;
    height: 600px;
    background-color: #18161e;
    width: 100%;
    z-index: 9;
    top: -113px;
    clip-path: polygon(0 0, 98% 0, 160% 0, 0 24%);
}

#section-4:after {
    content: "";
    position: absolute;
    height: 510px;
    background-color: #18161e;
    width: 100%;
    z-index: 9;
    bottom: 0;
    clip-path: polygon(0 100%, 100% 65%, 100% 100%, 0 100%);
}

#section-4.focus-area-section {
    padding-bottom: 130px;
    background-color: #000;
    overflow: hidden;
}

.focus-area-section .bitmap {
    width: 50%;
    float: right;
    position: absolute;
    right: 0px;
    top: -94px;
}

#section-8.choose-fund {
    padding-top: 100px;
}

#section-8.choose-fund .img-wrap img {
    max-width: 100%;
    width: 100%;
}

#section-8.choose-fund .text-group h3 {
    padding-top: 0px;
    width: 100%;
    max-width: 100%;
}

#section-8.choose-fund .text-group p {
    width: 100%;
    padding-top: 70px;
    max-width: 100%;
}

#section-8.choose-fund .text-group {
    padding-left: 70px;
}

.slantDiv {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: skewY(-7deg);
    transform-origin: bottom left;
    z-index: -1;
}

#section-4 svg {
    position: absolute;
    bottom: 0px;
}

.section-4-wrap h2 {
    color: #FFFFFF;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    padding-bottom: 63px;
}

.area-group h3 {
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    line-height: 31px;
    text-align: left;
}

.areas-card {
    display: flex;
    max-height: 129px;
    margin-bottom: 12px;
    padding-left: 11px;
}

.areas-card img {
    padding-bottom: 60px;
    padding-right: 20px;
}

.area-group p {
    color: #8D867B;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 382px;
    text-align: left;
}

.bitmap img {
    max-width: 100%;
}


/* card-section */

#card-section {
    background-color: #18161E;
    padding-bottom: 182px;
    padding-top: 86px;
    position: relative;
    z-index: 3;
}

.card-wrapper h2 {
    color: #FFFFFF;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
}

.card-wrap {
    padding-top: 17px;
}

.card-body h3 {
    color: #FFFFFF;
    font-family: 'PT Serif', serif;
    font-size: 26px;
    line-height: 31px;
    text-align: left;
}

.cardImg {
    background-color: #000000;
    border-radius: 10px;
    max-width: 400px;
    height: 200px;
}

.img1 img {
    padding-top: 69px;
    display: block;
    margin: auto;
}

.img2 img {
    padding-top: 62px;
    display: block;
    margin: auto;
}

.img3 img {
    max-width: 332px;
    padding-top: 77px;
    display: block;
    margin: auto;
}

.card-wrap .row {
    margin-left: 0px;
    margin-right: 0px;
}

.card-wrap .col {
    padding-left: 0px;
    padding-right: 21px;
}

.card-body p {
    color: #8D867B;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    max-width: 382px;
}

.card-body {
    padding: 0px;
    padding-top: 17px;
}


/* section-7 */

#section-7 {
    background-image: linear-gradient(139.78deg, #302D39 0%, #1D1A24 100%);
    padding-top: 98px;
    padding-bottom: 119px;
}

.section-7-wrapper {
    display: flex;
    align-items: center;
}

.section-7-wrap {
    padding-left: 107px;
}

.section-7-wrap h3 {
    color: #FFFFFF;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    line-height: 48px;
    max-width: 493px;
}

.section-7-wrap p {
    color: #CBB084;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 26px;
    padding-top: 24px;
    max-width: 344px;
}

.section-btn {
    position: relative;
    max-width: 207px;
    margin: 0 auto;
}

.section-btn img {
    position: absolute;
    top: 8px;
    right: 13px;
}

.section-btn button {
    background-color: #D2A955;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 207px;
    letter-spacing: -0.48px;
    line-height: 24px;
    border-radius: 30.5px;
    text-align: left;
    padding-left: 29px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.section-btn button.contactus {
    background-color: #EFB857;
}


/* section-8 */

#section-8 {
    background-color: #18161E;
    padding-top: 80px;
    padding-bottom: 133px;
    position: relative;
}

.img-wrap img {
    width: 700px;
}

.text-group h3 {
    color: #FFFFFF;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    line-height: 48px;
    max-width: 525px;
    text-align: left;
    padding-top: 120px;
}

.section-9-wrapper .sectionBtn .contactus {
    background-color: #EFB857;
    width: 207px;
}

#section-8 .horsewrapper {
    width: 48%;
    position: absolute;
}

#section-8 .horsewrapper video {
    width: 100%;
}

.text-group p {
    color: #8D867B;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 34px;
    max-width: 525px;
    text-align: left;
    padding-top: 34px;
}


/* section-9 */

#section-9 {
    background-color: #18161F;
    padding-top: 106px;
    padding-bottom: 169px;
    position: relative;
    overflow: hidden;
}

img.top {
    position: absolute;
    top: 20px;
    right: -80px;
}

img.bottom {
    position: absolute;
    bottom: 20px;
    left: -85px;
}

.section-9-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-9-wrapper h3 {
    color: #F8F8FB;
    font-family: 'PT Serif', serif;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    padding-bottom: 20px;
}

.section-9-wrapper p {
    color: #8D867B;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    line-height: 29px;
    max-width: 755px;
    text-align: center;
    padding-bottom: 46px;
}

.sectionBtn {
    position: relative;
    display: flex;
    align-items: center;
}

.sectionBtn img {
    position: absolute;
    top: 8px;
    right: 11px;
}

.sectionBtn button {
    background-color: #D2A955;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.48px;
    line-height: 24px;
    text-align: left;
    border-radius: 30.5px;
    width: 304px;
    padding-left: 29px;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* footer */

#footer {
    background-color: #1D1A24;
    padding-top: 43px;
    padding-bottom: 22px;
    position: relative;
}

.footer-wrapper .copyright {
    color: #5B556A;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.39px;
    line-height: 19px;
    text-align: center;
    padding-top: 31px;
}

.footer-wrapper .navbar {
    border-bottom: 1px solid #353040;
    padding-top: 0px;
    padding-bottom: 43px;
}

.navbar-nav {
    flex-direction: row;
    width: 878px;
    justify-content: space-around;
    margin: 0 auto;
}

.footer-wrapper .navbar li a {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    text-decoration: none;
    transition: .2s all;
}

.footer-wrapper .navbar li a:hover {
    color: #F7C638;
}

.investmentBox.dark {
    background-color: #EFB857;
}

@media(min-width: 1200px) {
    .container {
        max-width: 1230px;
    }
}

@media(min-width:320px) and (max-width:375px) {
    .img1 img {
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 235px !important;
    }

    .img2 img {
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 175px !important;
    }

    .img3 img {
        max-width: 200px !important;
    }

    .img-group {
        flex-wrap: nowrap;
    }

    #darkmoon-wrapper {
        height: 200px;
    }

    .textBox h3 {
        font-size: 17px !important;
        line-height: 27px !important;
    }

    .section-3-wrapper {
        padding-top: 30px;
        padding-bottom: 35px;
    }

    .section-4-wrap h2 {
        font-size: 26px !important;
        line-height: 16px !important;
    }

    .area-group p {
        font-size: 15px !important;
        line-height: 20px;
    }

    .areas-card img {
        width: 45px !important;
    }

    .area-group h3 {
        font-size: 18px !important;
        line-height: 20px;
    }

    .card-wrapper h2 {
        font-size: 24px !important;
    }

    .card-body h3 {
        font-size: 20px !important;
    }

    .section-7-wrap h3 {
        font-size: 23px !important;
    }

    .section-7-wrap p {
        font-size: 16px !important;
        line-height: 22px !important;
    }

    .text-group h3 {
        font-size: 24px !important;
    }

    .text-group p {
        font-size: 13px !important;
    }

    .section-9-wrapper h3 {
        font-size: 18px;
    }

    .section-9-wrapper p {
        font-size: 12px !important;
        line-height: 22px;
        ;
    }

    .sectionBtn button {
        font-size: 12px !important;
        width: 166px !important;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .sectionBtn img {
        top: auto !important;
        right: 10px !important;
    }

    img.bottom {
        bottom: 10px !important;
        left: -32px !important;
        width: 65px !important;
    }

    img.top {
        top: 10px !important;
        right: -32px !important;
        width: 65px !important;
    }

    #footer {
        padding-top: 10px !important;
        padding-bottom: 8px !important;
    }

    .footer-wrapper .copyright {
        font-size: 10px !important;
        padding-top: 12px !important;
    }

    .footer-wrapper .navbar li a {
        font-size: 12px !important;
    }
}

#section-2.darkmoon-video {
    height: 430px;
    max-width: 1897px;
    margin: 0 auto;
}

.wrapping__section {
    background: #19161D;
}

.focus-area-section .area-group h3 {
    font-family: 'PT Serif', serif;
}

.hidden-other {
    display: none;
}

@media (max-width: 767px) {
    #section-2.darkmoon-video {
        background-image: none;
    }

    #section-4:before,
    #section-4:after {
        display: none;
    }

    .hidden-other {
        display: block;
    }

    #darkmoon-wrapper.hidden-mobile {
        display: none;
    }

    .focus-area-section .bitmap {
        width: 100%;
        float: none;
        position: static;
        right: 0px;
        top: 0px;
    }

    #section-2.darkmoon-video #darkmoon-wrapper {
        height: 100%;
    }

    #section-4.focus-area-section {
        padding-bottom: 0px;
    }

    #header {
        height: 506px;
        background-size: 100% 100%;
    }

    #section-8.choose-fund .text-group p {
        padding-top: 15px;
    }

    #section-8.choose-fund .text-group {
        padding-left: 15px;
        margin-top: 30px;
    }

    #section-8.choose-fund .img-wrap img {
        width: 50%;
    }

    #section-3.funding-wrapper {
        padding-top: 60px;
    }

    .focus-area-wrapper {
        flex-wrap: wrap;
    }

    #section-8 .horsewrapper {
        width: 100%;
        position: static;
    }

    .focus-area-wrapper .bitmap img {
        width: 100%;
    }

    #section-8 .horsewrapper video {
        width: 100%;
        height: 300px;
    }

    #section-1 {
        padding-top: 120px;
    }

    .investmentBox h4 {
        font-size: 20px;
        line-height: 18px;
    }

    #myVideo {
        height: 100%;
    }

    .img-group {
        justify-content: center;
        padding-top: 15px;
    }

    .investmentBox {
        width: 100%;
        position: static;
        padding-left: 21px;
        padding-right: 6px;
        padding-top: 22px;
        padding-bottom: 25px;
    }

    .box1 {
        padding: 0px;
        height: 110px;
        margin-bottom: 12px;
        padding-top: 45px;
    }

    .box2 {
        height: 75px;
        padding: 0px;
        margin-bottom: 12px;
        padding-top: 15px;
    }

    .box3 {
        height: 62px;
        padding: 0px;
        margin-bottom: 12px;
        padding-top: 25px;
    }

    .box4 {
        padding: 0px;
        height: 62px;
        padding-top: 25px;
    }

    .box5 {
        height: 97px;
        padding: 0;
        padding-top: 40px;
    }

    .box6 {
        padding: 0px;
        height: 110px;
        padding-top: 23px;
    }

    .img-group1,
    .img-group2,
    .img-group3 {
        width: 110px;
        margin-right: 12px;
    }

    .box1 img,
    .box2 img,
    .box3 img,
    .box4 img,
    .box5 img,
    .box6 img {
        width: 50%;
        margin: auto;
        display: block;
    }

    .section-7-wrapper {
        flex-direction: column;
    }

    .img-wrap img {
        width: 100%;
    }

    .area-group p {
        width: 100%;
    }

    .navbar {
        padding-top: 22px;
        flex-wrap: nowrap;
    }

    .navbar-brand img {
        width: 70%;
    }

    .header-button button {
        font-size: 14px;
        line-height: 17px;
        width: 120px;
        height: 34px;
    }

    .header-button img {
        top: 13px;
        right: 10px;
    }

    .header-wrapper {
        padding-top: 35px;
    }

    .header-wrapper h2 {
        font-size: 28px;
        line-height: 39px;
        max-width: 398px;
        padding-bottom: 13px;
    }

    .header-wrapper p {
        font-size: 16px;
        line-height: 24px;
        max-width: 321px;
        margin-bottom: 18px;
    }

    .section1-wrapper h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .section1-wrapper p {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }

    .section1-wrapper {
        padding-bottom: 35px;
    }

    #section-2 {
        height: 190px;
        background-size: 100% 100%;
    }

    .textBox h3 {
        font-size: 21px;
        line-height: 31px;
        padding-bottom: 8px;
    }

    .textBox p {
        font-size: 16px;
        line-height: 20px;
    }

    .imgBox {
        width: 119px;
        height: 116px;
        top: 63px;
        left: -64px;
    }

    .imgBox img {
        padding-top: 24px;
        padding-right: 0px;
        width: 45%;
        position: absolute;
        right: 9px;
    }

    .contactbtn button {
        font-size: 14px;
        width: 150px;
        line-height: 14px;
        padding-left: 15px;
        padding-top: 12px;
        padding-bottom: 13px;
    }

    .contactbtn img {
        width: 30px;
        top: 5px;
        right: 8px;
    }

    .contactbtn {
        margin-left: 66px;
    }

    .section-3-wrapper {
        flex-direction: column;
        align-items: flex-start
    }

    #section-3 {
        padding-top: 40px;
        padding-bottom: 35px;
    }

    #section-4 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section-4-wrap h2 {
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 30px;
        text-align: left;
    }

    .area-group h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .area-group p {
        font-size: 16px;
        line-height: 20px;
    }

    .areas-card {
        margin-bottom: 5px;
    }

    .areas-card img {
        width: 50px;
    }

    .bitmap img {
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #card-section {
        padding-bottom: 35px;
        padding-top: 35px;
    }

    .card-wrapper h2 {
        font-size: 28px;
        line-height: 30px;
        text-align: center;
    }

    .cardImg {
        max-width: 100%;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .img1 img {
        padding-top: 55px;
        padding-left: 31px;
        padding-right: 22px;
        width: 285px;
    }

    .card-body {
        padding-bottom: 17px;
    }

    .card-wrap .col {
        padding-left: 0px;
        padding-right: 0px;
    }

    .card-body h3 {
        text-align: center;
        font-size: 22px;
        line-height: 24px;
    }

    .card-body p {
        font-size: 16px;
        line-height: 25px;
        max-width: 323px;
        text-align: center;
        margin: 0 auto;
    }

    .img2 img {
        padding-top: 41px;
        padding-right: 58px;
        padding-left: 58px;
        width: 300px;
    }

    .img3 img {
        max-width: 275px;
        padding-top: 60px;
    }

    .section-7-wrap {
        padding-left: 0px;
    }

    .section-7-wrap h3 {
        font-size: 28px;
        line-height: 21px;
        text-align: center;
    }

    .section-7-wrap p {
        font-size: 16px;
        line-height: 26px;
        padding-top: 11px;
        text-align: center;
    }

    .section-btn img {
        top: 6px;
        right: 7px;
        width: 25px;
    }

    .section-btn button {
        font-size: 16px;
        width: 150px;
        line-height: 16px;
        padding-left: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .section-btn {
        align-self: center;
        margin: 0;
    }

    #section-7 {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    #section-8 {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .img-wrap img {
        width: 85%;
        margin: 0 auto;
        display: block;
    }

    .text-group h3 {
        font-size: 24px;
        line-height: 37px;
        padding-top: 28px;
        text-align: center;
    }

    .text-group p {
        text-align: center;
        font-size: 15px;
        line-height: 24px;
        max-width: 525px;
        padding-top: 12px;
    }

    #section-9 {
        padding-top: 39px;
        padding-bottom: 40px;
    }

    .section-9-wrapper h3 {
        font-size: 23px;
        line-height: 34px;
        padding-bottom: 15px;
    }

    .section-9-wrapper p {
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 16px;
        max-width: 352px;
    }

    .sectionBtn button {
        font-size: 14px;
        line-height: 18px;
        width: 200px;
        padding-left: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .sectionBtn img {
        top: 9px;
        right: 8px;
        width: 25px;
    }

    img.bottom {
        bottom: 15px;
        left: -65px;
        width: 100px;
    }

    img.top {
        top: 15px;
        right: -70px;
        width: 100px;
    }

    .footer-wrapper .copyright {
        font-size: 14px;
        line-height: 17px;
        padding-top: 16px;
    }

    .footer-wrapper .navbar li a {
        font-size: 14px;
        line-height: 12px;
    }

    .footer-wrapper .navbar {
        padding-bottom: 15px;
    }

    #footer {
        padding-top: 16px;
        padding-bottom: 12px;
    }

    img.dots {
        bottom: -78px;
        right: 0px;
        width: 75px;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {
    #section-2 {
        background-size: 100% 100%;
    }

    #darkmoon-wrapper {
        height: 400px;
    }

    .focus-area-wrapper .bitmap img {
        width: 100%;
    }

    #section-2.darkmoon-video {
        background-size: 100% 100%;
        background-image: none;
        background-color: #1a161f;
    }

    #section-4:before {
        content: "";
        position: absolute;
        height: 118px;
        top: -60px;
    }

    .focus-area-section .bitmap {
        top: 81px;
    }

    #section-4:after {
        content: "";
        position: absolute;
        height: 210px;
    }

    .section-4-wrap h2 {
        font-size: 30px;
        line-height: 40px;
        text-align: left;
        padding-bottom: 20px;
    }
}

@media (min-width: 375px) and (max-width: 426px) {

    .img-group1,
    .img-group2,
    .img-group3 {
        width: 94px;
        margin-right: 12px;
    }

    #darkmoon-wrapper {
        height: 200px;
    }
}

@media (min-width: 430px) and (max-width: 700px) {
    #darkmoon-wrapper {
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        padding-top: 22px;
    }

    .focus-area-wrapper {
        padding-top: 40px;
    }

    .focus-area-section .bitmap {
        width: 46%;
        top: 85px;
    }

    #section-4:before {
        top: -70px;
        clip-path: polygon(0 0, 98% 0, 160% 0, 0 24%);
    }

    #myVideo {
        height: 100%;
    }

    #section-8.choose-fund .text-group p {
        padding-top: 20px;
    }

    #section-8.choose-fund .text-group {
        padding-left: 36px;
    }

    #section-4.focus-area-section {
        padding-bottom: 60px;
    }

    #section-4:after {
        height: 190px;
    }

    #section-8 .horsewrapper video {
        height: 300px;
    }

    .focus-area-wrapper .bitmap img {
        width: 100%;
    }

    #header {
        background-size: 100% 100%;
        height: 750px;
    }

    #darkmoon-wrapper {
        height: 270px;
    }

    .header-wrapper {
        padding-top: 38px;
    }

    .header-wrapper h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .header-wrapper p {
        font-size: 20px;
        max-width: 400px;
        margin-bottom: 15px;
    }

    .investmentBox {
        width: 599px;
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 32px;
        padding-right: 18px;
        margin-top: 5px;
        bottom: -85px;
    }

    .img-group1,
    .img-group2,
    .img-group3 {
        width: 160px;
        margin-right: 23px;
    }

    .investmentBox h4 {
        font-size: 24px;
        line-height: 20px;
    }

    .box1 {
        padding: 85px 25px 63px 25px;
        margin-bottom: 20px;
    }

    .box2 {
        padding: 50px 43px;
        margin-bottom: 20px;
    }

    .box3 {
        padding: 40px 29px;
        margin-bottom: 20px;
    }

    .box4 {
        padding: 40px 5px;
    }

    .box5 {
        padding: 50px 0px;
    }

    .box6 {
        padding: 58px 37px;
    }

    .img-group {
        padding-top: 20px;
    }

    #section-1 {
        padding-top: 175px;
    }

    .section1-wrapper h2 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .section1-wrapper p {
        font-size: 18px;
        line-height: 28px;
    }

    .section1-wrapper {
        padding-bottom: 75px;
    }

    #section-3 {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .section-3-wrapper {
        padding-top: 30px;
        padding-bottom: 25px;
        position: relative;
    }

    .textBox h3 {
        font-size: 23px;
        line-height: 36px;
        text-align: left;
        padding-bottom: 10px;
        max-width: 358px;
    }

    .textBox p {
        font-size: 18px;
        line-height: 21px;
        max-width: 508px;
    }

    .contactbtn button {
        font-size: 16px;
        width: 178px;
        line-height: 22px;
        padding-left: 29px;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-right: 14px;
    }

    .contactbtn {
        margin-left: 30px;
        max-width: 190px;
    }

    #section-2 {
        height: 265px;
        background-size: 100% 100%;
    }

    #section-2.darkmoon-video {
        height: 265px;
        background-image: none;
    }

    .contactbtn img {
        top: 5px;
        right: 20px;
    }

    .imgBox img {
        padding-top: 30px;
        width: 100px;
        padding-left: 35px;
        margin-left: -2px;
    }

    .imgBox {
        width: 117px;
        height: 135px;
        top: 47px;
        left: -61px;
    }

    #section-4 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .section-4-wrap h2 {
        font-size: 30px;
        line-height: 26px;
        padding-bottom: 20px;
    }

    .area-group h3 {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 8px;
        padding-left: 2px;
    }

    .area-group p {
        font-size: 16px;
        line-height: 20px;
        width: 315px;
    }

    .areas-card img {
        width: 35px;
        padding-right: 12px;
    }

    .cardImg {
        max-width: 200px;
        height: 150px;
    }

    .img1 img {
        width: 229px;
        padding-top: 60px;
        padding-left: 12px;
        padding-right: 37px;
    }

    .img2 img {
        width: 229px;
        padding-top: 57px;
        padding-left: 43px;
        padding-right: 70px;
    }

    .img3 img {
        max-width: 196px;
        padding-top: 66px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .card-body h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .card-body p {
        font-size: 16px;
        line-height: 19px;
    }

    .card-wrapper h2 {
        font-size: 32px;
        line-height: 30px;
    }

    #card-section {
        padding-bottom: 35px;
        padding-top: 60px;
    }

    #section-7 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .section-7-wrap {
        padding-left: 50px;
    }

    .section-btn button {
        font-size: 16px;
        width: 180px;
        line-height: 22px;
        padding-left: 22px;
    }

    .section-btn img {
        top: 7px;
        right: 9px;
    }

    .section-7-wrap h3 {
        font-size: 30px;
        line-height: 39px;
    }

    .section-7-wrap p {
        font-size: 16px;
        line-height: 25px;
        padding-top: 15px;
        max-width: 263px;
    }

    .text-group p {
        font-size: 16px;
        line-height: 24px;
        padding-top: 8px;
    }

    .img-wrap img {
        width: 400px;
    }

    .text-group h3 {
        font-size: 26px;
        line-height: 35px;
        padding-top: 35px;
    }

    .section-9-wrapper h3 {
        font-size: 28px;
        line-height: 22px;
        padding-bottom: 12px;
    }

    .section-9-wrapper p {
        font-size: 17px;
        line-height: 26px;
        max-width: 571px;
        padding-bottom: 26px;
    }

    #section-9 {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .sectionBtn button {
        font-size: 16px;
        line-height: 20px;
        width: 250px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .sectionBtn img {
        top: 5px;
        right: 7px;
    }

    img.bottom {
        width: 100px;
        left: -50px;
    }

    img.top {
        width: 100px;
        right: -50px;
    }

    #footer {
        padding-top: 22px;
    }

    .footer-wrapper .navbar {
        padding-bottom: 22px;
    }

    .footer-wrapper .navbar li a {
        font-size: 16px;
        line-height: 18px;
    }

    .footer-wrapper .copyright {
        font-size: 14px;
        line-height: 14px;
        padding-top: 22px;
    }

    #section-8 {
        padding-top: 90px;
        padding-bottom: 60px;
    }

    img.dots {
        position: absolute;
        bottom: -38px;
        right: -45px;
        width: 100px;
    }
}


/* ============================================================== MY STYLE START ========================== */

.section__text h2,
.section__text p {
    font-family: 'PT Sans', sans-serif;
}


/* =========================== HEADER AREA START =======================*/

.header__blk {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo a img {
	height: 100px;
}
.main__menu {
    display: flex;
    align-items: center;
}

.main__menu ul li {
    display: inline-block;
}

.main__menu ul li a {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 20px;
    line-height: 24px;
    margin-right: 45px;
    transition: .2s all;
    position: relative;
}

.main__menu ul li a::before {
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    content: '';
    background: rgb(48, 61, 130);
    background: linear-gradient(90deg, rgba(48, 61, 130, 0) 0%, rgba(239, 184, 87, 1) 45%);
    bottom: -5px;
    opacity: 0;
    visibility: hidden;
    transition: .3s all;
}

.main__menu ul li a:hover {
    color: #F8D154;
}

.header__btn a {
    border: 1px solid #FBD455;
    border-radius: 30.5px;
    min-width: 142px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #FBD455;
    font-size: 16px;
    line-height: 19px;
    font-family: 'PT Sans', sans-serif;
    transition: .2s;
}

.header__area {
    background: #2C2933;
    padding: 40px 0;
}

.header__btn a i {
    margin-right: 7px;
}

.header__btn a:hover {
    box-shadow: 0px 0px 14px 4px rgba(250, 211, 84, 0.1);
    -webkit-box-shadow: 0px 0px 14px 4px rgba(250, 211, 84, 0.18);
    -moz-box-shadow: 0px 0px 14px 4px rgba(250, 211, 84, 0.26);
}


/* =========================== HEADER AREA END =======================*/


/* =========================== HERO AREA START =======================*/

.hero__area {
    background: #2C2934;
    padding: 80px 0;
}

.hero__thumb {
    text-align: right;
    position: relative;
    z-index: 1;
}

.hero__thumb:before {
    position: absolute;
    right: 0;
    top: -60px;
    right: -60px;
    content: '';
    background-color: #FBD455;
    width: 382px;
    height: 442px;
    z-index: -1;
}

.hero__thumb img {
    height: 442px;
}

.hero__content h2 {
    color: #F8F8FB;
    font-size: 44px;
    line-height: 53px;
    max-width: 620px;
    margin-bottom: 30px;
    font-family: 'PT Serif', serif;
    font-weight: 600;
}

.hero__content p {
    color: #8D867B;
    font-size: 20px;
    line-height: 34px;
    max-width: 625px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
}

.hero__btn a {
    max-width: 275px !important;
    margin: 0 !important;
    margin-top: 30px !important;
}


/* =========================== HERO AREA END =======================*/


/* =========================== STARTED AREA START =======================*/
.started__btn a img {
	width: auto !important;
}
.started__btn a {
    display: flex;
    padding: 10px;
    background-image: linear-gradient(171.52deg, #FBD455 0%, #F0AB00 100%);
    width: 467px;
    height: 61px;
    color: #392506;
    font-size: 20px;
    letter-spacing: -0.48px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-weight: 500;
    margin: 0 auto;
}

.started__btn a img {
    margin-left: 20px;
}

.started__bg {
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.started__bg::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    content: '';
}

.started__area {
    background: #1A1720;
    padding-top: 70px;
}

.section__text h2 {
    color: #F8F8FB;
    font-size: 44px;
    line-height: 53px;
    font-weight: 600;
    text-align: center;
    font-family: 'PT Serif', serif;
}

.section__text p {
    color: #8D867B;
    font-size: 20px;
    line-height: 34px;
    max-width: 718px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}


/* =========================== STARTED AREA END =======================*/


/* =========================== TEAM AREA START =======================*/

.team__thumb {
    height: 174px;
    position: relative;
}

.team__blk {
    background: #000000;
    padding: 10px;
    padding-bottom: 25px;
    margin-top: 25px;
}

.team__thumb>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.team__social__ico {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.team__social__ico a {
    height: 29px;
    width: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

.team__social__ico a img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.team__area {
    background: #1A1720;
    padding: 80px 0;
    padding-bottom: 140px;
}

.team__inner__blk {
    max-width: 770px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.team__content h4 {
    color: #F8F8FB;
    font-size: 20px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}

.team__content p {
    color: #CBB084;
    font-size: 18px;
    line-height: 1;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

.team__content {
    padding-top: 20px;
}

.team__inner__blk::before {
    background-image: linear-gradient(139.78deg, #302D39 0%, #1D1A24 100%);
    border-radius: 4px;
    width: 604px;
    height: 346px;
    content: '';
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translateX(-50%);
}

.team__title {
    margin-bottom: 80px;
}

.main__menu ul li a:hover::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.main__menu ul li a.link__active::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}


/* =========================== TEAM AREA END =======================*/


/* =========================== PERKS AREA START =======================*/

.perks__area {
    background: #1A1720;
    padding: 80px 0;
}

.perks__content h3 {
    color: #FFFFFF;
    font-size: 28px;
    line-height: 34px;
    max-width: 482px;
    text-align: left;
    font-weight: 600;
    font-family: 'PT Serif', serif;
}

.perks__content p {
    color: #8D867B;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    max-width: 382px;
    text-align: left;
}

.perks__blk {
    display: flex;
    margin-top: 30px;
}

.perks__img {
    flex: 0 0 auto;
    margin-right: 20px;
}

.mini__width {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}


/* =========================== PERKS AREA END =======================*/


/* =========================== FAQ AREA START =======================*/

.btn-link.collapsed {
    display: flex;
    width: 100%;
    text-align: left;
    justify-content: space-between;
    color: #F8F8FB;
    font-size: 25px;
    line-height: 30px;
    border: 0;
    font-family: 'PT Serif', serif;
}

.card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: #000000;
    border-bottom: 0;
}

.btn-link:hover {
    text-decoration: none;
    color: #F8F8FB;
}

.btn-link {
    display: flex;
    width: 100%;
    text-align: left;
    justify-content: space-between;
    color: #F8F8FB;
    font-size: 25px;
    line-height: 30px;
    /*! font-family: 'PT Sans', sans-serif; */
    border: 0;
    padding: 35px 0;
    padding-left: 70px;
    padding-right: 30px;
    position: relative;
    font-family: 'PT Serif', serif;
}

.card-header:first-child {
    border-radius: 0;
}

.btn-link.focus,
.btn-link:focus {
    text-decoration: unset;
}

.faq__blk button:hover {
    box-shadow: unset;
}

.btn-link.collapsed span {
    color: #8B8479;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    line-height: 24px;
}

.btn-link span {
    color: #8B8479;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    line-height: 24px;
}

.accordion__arrow {
    position: absolute;
    left: 25px;
    color: #F4B711;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: .3s all;
}

.faq__blk button[aria-expanded="true"] .accordion__arrow {
    transform: translateY(-50%) rotate(180deg);
}

.card-body {
    padding: 0px;
    padding-top: 17px;
    font-family: 'PT Sans', sans-serif;
    padding-left: 70px;
    color: #8D867B;
    font-size: 20px;
    line-height: 34px;
    padding-right: 30px;
    padding-bottom: 30px;
    background: #000000;
}

.faq__list p {
    color: #8D867B;
    font-size: 18px;
    line-height: 36px;
    max-width: 382px;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
}

.faq__list {
    margin-top: 20px;
}

.faq__list p i {
    color: #F4B711;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F4B711;
    border-radius: 50%;
    margin-right: 10px
}

.faq__blk .card {
    margin-bottom: 25px;
    border: 0;
}

.faq__area {
    background: #1A1720;
    padding-top: 60px;
    padding-bottom: 120px;
}

.faq__blk::before {
    background-image: linear-gradient(139.78deg, #302D39 0%, #1D1A24 100%);
    border-radius: 4px;
    width: 604px;
    height: 346px;
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.faq__blk {
    position: relative;
    z-index: 1;
}

.faq__blk {
    position: relative;
    z-index: 1;
    margin-top: 50px;
}


/* =========================== FAQ AREA END =======================*/


/* =========================== CHART AREA START =======================*/

.chart__content h2,
.chart__content p {
    text-align: left;
}

.chart__blk {
    max-width: 460px;
}

.chart__area {
    background: #1A1720;
    padding: 120px 0;
}

.single__chart__content h4 {
    color: #F8F8FB;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: 'PT Serif', serif;
}

.single__chart__content p {
    color: #8B8479;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.single__chart__content {
    padding: 23px;
    margin-bottom: 20px;
    background-color: #000000;
    border-radius: 5px;
}

.border__color_1 {
    border-left: 4px solid #F40051;
}

.border__color_2 {
    border-left: 4px solid #2A4B82;
}

.border__color_3 {
    border-left: 4px solid #F48900;
}

.border__color_4 {
    border-left: 4px solid #00425F;
}

.border__color_5 {
    border-left: 4px solid #FFD000;
}

.border__color_6 {
    border-left: 4px solid #00A5E5;
}

.border__color_7 {
    border-left: 4px solid #929197;
}

.border__color_8 {
    border-left: 4px solid #E9EAF4;
}

.border__color_9 {
    border-left: 4px solid #5D4BD3;
}


/* =========================== CHART AREA END =======================*/


/* =========================== DETAILDS AREA START =======================*/

.details__top__content {
    padding: 0;
    background: none;
    margin: 0;
}

.details__right__btn a {
    color: #FBD455;
    font-size: 20px;
    letter-spacing: -0.48px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    transition: .2s all;
}

.details__top__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.details__top__left__blk {
    display: flex;
    align-items: center;
}

.details__top__left__blk a {
    margin-right: 20px;
}

.details__area {
    background: #1A1720;
    padding-bottom: 40px;
}

.details__blk {
    background: #000000;
    padding: 40px;
    border-radius: 5px;
    margin-top: 25px;
}

.details__right__btn a img {
    margin-left: 6px;
    transition: .2s all;
}

.details__content p {
    color: #8D867B;
    font-size: 20px;
    line-height: 34px;
    max-width: 1152px;
}

.details__content p:first-child {
    margin-bottom: 30px;
}

.details__content p:last-child {
    margin-bottom: 0;
}

.details__top__content p {
    font-style: italic;
}

.details__right__btn a:hover {
    color: #fff;
}

.details__right__btn a:hover img {
    filter: brightness(10);
}

.chart__thumb {
    max-width: 335px;
    height: 332px;
    position: relative;
}

.chart__inner__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8D867B;
    font-size: 16px;
    line-height: 34px;
    font-family: 'PT Serif', serif;
}


/* =========================== DETAILDS AREA END =======================*/


/* =========================== CONTANT AREA START =======================*/

.container-fluid {
    padding: 0;
}

.contact__thumb {
    height: 435px;
    margin-top: 20px;
}

.contact__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact__area {
    background: #2B2833;
    padding: 80px 0;
    padding-bottom: 350px;
}


/* =========================== CONTANT AREA END =======================*/


/* =========================== CONTANT BOTTOM AREA START =======================*/

.contact__bottom__area {
    background: #1A1720;
    padding-top: 50px;
    padding-bottom: 80px;
}

.contact__bottom__part {
    padding: 50px;
    background-image: linear-gradient(139.78deg, #302D39 0%, #1D1A24 100%);
    border-radius: 4px;
    box-shadow: 0 2px 44px 0 rgba(29, 26, 36, 0.49);
    margin-top: -315px;
    margin-right: -70px;
    position: relative;
    z-index: 22;
}

.contact__single__input label {
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
}

.contact__single__input input {
    background-color: #18161F;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    border: 0;
    color: #fff;
    padding: 0 20px;
    font-size: 18px;
}

.contact__single__input {
    margin-bottom: 25px;
}

input:focus {
    outline: none;
}

.contact__btn button {
    background-image: linear-gradient(171.52deg, #FBD455 0%, #F0AB00 100%);
    min-width: 234px;
    height: 61px;
    border: 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    color: #392506;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.48px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.contact__btn button img {
    margin-left: 10px;
}

.contact__right__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBD455;
    height: 748px;
    margin-top: -200px;
}

.header__second__color {
    background: #191720;
}

.development__text h2 {
    color: #F8F8FB;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
    font-weight: 600;
    font-family: 'PT Serif', serif;
}

.development__text p {
    color: #F8F8FB;
    font-size: 26px;
    line-height: 39px;
    max-width: 467px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin: 0 auto;
}

.development__area {
    background: #18161e;
    padding-top: 120px;
}

.development__bottom__video {
    margin-bottom: 65px;
}

.started__btn a:hover {
    box-shadow: 0 1px 24px 0 rgb(255 255 148 / 37%);
}


/* =========================== CONTANT BOTTOM AREA END =======================*/


/* =========================== BRAND AREA START =======================*/

.brand__area {
    padding: 100px 0;
    background: #100E14;
}

.single__brand__logo {
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.single__brand__logo a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
}

.single__brand__logo a img {
    height: 100%;
    transition: .3s all;
    filter: grayscale(10);
}

.single__brand__logo a:hover img {
    filter: grayscale(0);
}


/* =========================== BRAND AREA END =======================*/


/* =========================== VIDEO AREA START =======================*/

.vjs-poster {
    background-size: cover;
    border-radius: 5px !important;
}

.video-js .vjs-big-play-button {
    font-size: 3em;
    line-height: 38px;
    height: 42px;
    width: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pass__video #my-player {
    max-width: 600px;
    height: 100%;
    border-radius: 5px !important;
    margin: 0 auto;
    width: 100%;
}

.pass__video {
    height: 350px !important;
    margin-top: 40px;
    position: relative;
    z-index: 22;
    width: 100%;
}

.video-js .vjs-play-progress::before {
    background: #fff;
    border-radius: 50%;
    color: #F99F20;
}

.video-js .vjs-play-progress {
    background-color: #F99F20;
}

.video-js button {
    color: #364879;
}

.video-js .vjs-big-play-button span {
    color: #fff;
}

.video-js .vjs-control-bar {
    background-color: #FFFFFF;
}

.video-js .vjs-tech {
    height: 96%;
}

.video__area {
    background: #1A1720;
    padding: 100px 0;
    padding-bottom: 200px;
}

.pt__space {
    padding-top: 80px !important;
}


/* =========================== VIDEO AREA END =======================*/


/* =========================== SERVICE AREA START =======================*/

.service__bg {
    background: #000000;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.service__area {
    background: #1A1720;
    padding: 100px 0;
}

.servicre__content {
    margin-top: 15px;
}

.servicre__content h4 {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 31px;
    width: 331px;
}

.servicre__content p {
    color: #8D867B;
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
    margin-bottom: 5px;
}

.service__btn a {
    color: #FBD455;
    transition: .2s all;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
}

.service__btn a:hover {
    color: #fff;
}

.owl-stage-outer {
    padding: 50px 0;
}

.service__bottom__wrapper {
    display: none;
}

.service__title h2 {
    text-align: left !important;
}

.owl-item.active.center {
    transform: scale(1.2);
    padding: 0 20px;
}

.owl-item {
    transition: .3s all;
}

.service__logo {
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__logo img {
    height: 50px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;
    font-size: 20px !important;
    color: #FBD455 !important;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #FBD455 !important;
}

button.owl-next {
    left: auto;
    right: -60px;
}

.profit__btn a {
    width: auto;
    padding: 0 30px;
}

.profit__btn {
    display: flex;
    justify-content: center;
}

.profit__area {
    background: #141119;
    padding: 120px 0;
    position: relative;
    z-index: 1;
}

.profit__content {
    text-align: center;
    padding: 80px 40px;
    background-color: #221E2C;
    border-radius: 15px;
    max-width: 1057px;
    margin: 0 auto;
    position: relative;
    /*! z-index: 22; */
}

.profit__content h2 {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 48px;
    margin: 40px 0;
    font-family: 'PT Serif', serif;
}

.profit__shape {
    position: absolute;
    right: -55px;
    bottom: -55px;
    z-index: -1;
}

.profit__content::before {
    position: absolute;
    left: -55px;
    top: -55px;
    height: 140px;
    width: 140px;
    content: '';
    border-radius: 50%;
    background: #F3CF5A;
    z-index: -1;
}


/* =========================== SERVICE AREA END =======================*/


/* =========================== TOKENOMICS AREA START =======================*/

.tokenomics__area {
    background-color: #18161F;
    padding: 120px 0;
}

.tokenomics__blk {
    position: relative;
    z-index: 2;
}

.tokenomics__shape_1 {
    position: absolute;
    right: -150px;
    top: -90px;
    z-index: -1;
}

.tokenomics__shape_3 {
    position: absolute;
    right: -235px;
    top: -160px;
    z-index: -1;
}

.tokenomics__shape_2 {
    position: absolute;
    left: -150px;
    bottom: -90px;
    z-index: -1;
}

.footer-wrapper {
    position: relative;
    z-index: 1;
}

.footer__shape {
    position: absolute;
    bottom: 35px;
    right: -60px;
}

.desk__none {
    display: none;
}

.owl-item.active.center .servicre__content p {
    font-size: 15px;
}

.header__bg_2 {
    background: #191720 !important;
}


/* =========================== TOKENOMICS AREA END =======================*/


/* =========================== TOKENOMICS AREA END =======================*/
.small__hero__content h2 {
    font-size: 40px;
}

.laptop__thumb img {
    width: 100%;
}

.what__about__area {
    background: #1A1720;
    padding-bottom: 100px;
}

.what__about__content h2,
.what__about__content p {
    text-align: left;
}

.what__about__content p {
    margin-bottom: 17px;
    line-height: 26px;
}

.what__about__content h2 {
    margin-bottom: 30px;
}

.help__area {
    background: #18161F;
    padding-top: 60px;
    padding-bottom: 100px;
}

.contact__button a {
    width: 207px;
}

.help__shape {
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: -1;
}


.what__about__list ul li {
    color: #8D867B;
    font-size: 18px;
    line-height: 36px;
    display: flex;
    align-items: center;
}

.what__about__list ul li span {
    margin-right: 5px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    position: relative;
    bottom: -1px;
}

.what__about__list ul li span img {
    height: 100%;
}

.font__weight__re {
    font-weight: 400 !important;
}


.help__shape_2 {
    position: absolute;
    top: 0;
    right: 0;
}

/* =========================== TOKENOMICS AREA END =======================*/


/* =========================== REPORT AREA START =======================*/
.report__area {
    background: #1A1720;
    padding-top: 120px;
    padding-bottom: 80px;
}
.slider__report__blk {
	padding: 0 100px;
}

.slider__report__blk .owl-nav button {
  left: 25px;
}
.slider__report__blk .owl-nav button.owl-next {
  left: auto;
  right: 25px;
}
.single__report__blk {
    margin-top: 30px;
    max-width: 550px;
}

.book__thumb {
    max-width: 255px;
    padding: 30px;
}

.book__thumb img {
    width: 100%;
}

.book__bottom__content {
    background-color: #000000;
    border-radius: 2px;
    padding: 30px;
    padding-top: 90px;
    margin-top: -100px;
}

.book__bottom__content h3 {
    color: #F8F8FB;
    font-size: 20px;
    line-height: 24px;
    font-family: 'PT Serif', serif;
}

.book__button a {
    width: 207px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.book__button a img {
    transform: rotate(90deg);
}

/* =========================== REPORT AREA END =======================*/